html, body  {
  background-color: #F1FAEE;
  font-size: 12px;
}

/* Site Header */

.site-header {
  display: flex;
  background-color: #1D3557;
  color: white;
  padding: 16px;
}

.site-header > h1 {
  font-size: 2.5rem;
  font-family: "Titillium Web";
}